<!-- <p>resume works!</p> -->

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <span class="name_tag"> <i class="fas fa-stop" style="color:#0050ff"></i> &nbsp; Resume </span>
    </div>
    <div class="container2">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary"><b>DOWNLOAD CV</b></button>
        </div>
    </div>
    <div class="container2">
        <div class="col-md-6">
            <span class="name_tag"> Experience </span>
        </div>
    </div>
    <div class="container2">
        <div class="col-md-6">
            <app-experience></app-experience>
        </div>
    </div>
    <div class="container2">
        <div class="col-md-6">
            <span class="name_tag"> Education </span>
        </div>
    </div>
    <div class="container2">
        <div class="col-md-6">
            <app-education></app-education>
        </div>
    </div>
    
  </div>