<!--
  8th September 2020
  nav bar 
-->

   <nav class="navbar">
        
            <div class="title_div">
                <a>
                    <span class="name_tag">
                        <i class="fas fa-stop" style="color:#0050ff"></i> &nbsp;
                        <b>Vaishnavi Hagaldivte </b> </span>
                    <span class="role_tag">/ FRONT END DEVELOPER</span>
                </a>
            </div>
        
        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link active" href="#">ABOUT ME</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/resume">RESUME</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/projects">PROJECTS</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="/contact">CONTACT</a>
            </li>
        </ul>
    </nav>
