<!-- <p>info-cards works!</p> -->
<div *ngFor="let experience of experiences">
    <div class="card"  style="width: 40rem;height: auto;top: 20px;margin-bottom: 30px;">
            <div class="card-body container">
                    <div class="article" >
                        <p class="year">{{experience.year}}</p>
                        <p class="job"><b>{{experience.job}}</b></p>
                        <p class="company">{{experience.company}}</p>
                        <p class="location">{{experience.location}}</p>
                    </div>
                    <div class="article">
                        <p class="description">{{experience.description}} </p>
                    </div>
            </div>
            
    </div>
    <!-- <div class="card" style="width: 40rem;height: auto;top: 20px;margin-bottom: 30px;">
        <div class="card-body container">
                <div class="article" >
                    <p class="year">{{experience.year}}</p>
                    <p class="job"><b>{{experience.job}}</b></p>
                    <p class="company">{{experience.company}}</p>
                    <p class="location">{{experience.location}}</p>
                </div>
                <div class="article">
                    <p class="description">{{experience.description}} </p>
                </div>
        </div>
        
</div> -->
</div>